
body {
  background-image: url(../images/movies.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  padding-top: 0px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 150px;
}
.backdrop-filter {
  backdrop-filter: grayscale(50%);
  height: 600px;
}

#btn-search {
  margin: auto;
  width: 300px;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 30px;
  border: 5px solid rgb(89, 47, 47);
  padding: 10px;
  background-image: linear-gradient(180deg, red, rgba(230, 151, 151, 0.564));
  border-radius: 30px;
  padding-top: 10px;
}
#footer {
  color: rgb(236, 230, 230);
  /* padding-left: 500px;*/
  /* padding-top: 300px;  */
}
.copyright {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  /* padding-left: 100px;
  padding-top: 200px; */
}
#container {
  padding: 100px;
  margin: 197px;
}
