/* .toprated {
    padding: 15px 35px;
    border: 2px solid black;
    margin: auto;
  }
  .in-theater {
    padding: 15px 35px;
    border: 2px solid black;
    margin: auto;
  }
  .featured {
    padding: 15px 35px;
    border: 2px solid white;
  }
  #back {
    position: fixed;
    top: 25px;
    left: 300px;
    width: 75px;
    height: 35px;
    background-color: black;
    color: white;
  }
   */